  <% if users.any? %>
    <div id="error_explanation">

      <ul>
        <% users.each do |user| %>
          <li><%= user.name %></li>
          <p><%= link_to 'View profile', user_path(user) %></p>
        <% end %>
      </ul>
    </div>
    <%= paginate users %>
  <% end %>