<h1><%= @user.name %></h1>

<ul>
    <li><%= link_to "task", root_url %></li>
    <li><a href="#" class="nav-link">Followings</a></li>
    <li><a href="#" class="nav-link">Followers</a></li>
    
</ul>